{% extends "base.html" %} 

{% block title %}Imagenes{% endblock %}

{% block menuTitle %} Imagenes {% endblock %}

{% block menuOptions %}
<a href="/upload/">Agregar imagen</a>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-sm-12">


        <table class="table table-hover">
            <thead>
                <tr>
                    
                    <th>
                        imagen
                    </th>
                    
                    <th>
                        Fecha creación
                    </th>
                    <th>
                        Fecha modificación
                    </th>
                    <th>
                        usuario creo
                    </th>
                    <th>
                        usuario modifico
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                <tr>
                    
                    <td>
                       <img style="height:200px;" src="/_ah/img/{{image.blob_key}}"/> 
                    </td>                    
                    <td>
                        {{image.date_created}}
                    </td>
                    <td>
                        {{image.date_modified}}
                    </td>
                    <td>
                        {{image.user_created}}
                    </td>
                    <td>
                        {{image.user_modified}}
                    </td>
                    <td>
                        <a class="btn btn-default" href="/image/edit/{{image.key.urlsafe}}">Modificar</a>
                    </td>

                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</div>
{% endblock %}